!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
    %title Flow
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = csrf_meta_tag
  %body
    .header
      .banner
        RMU Flow
      #centerednav
        %ul.nav
          %li= link_to "Home", root_path
          %li= link_to "About", about_path
          %li= link_to "Mendicant University", "http://university.rubymendicant.com/"
          - if signed_in?
            %li= link_to "Post article", new_article_path
            %li= link_to "Sign Out", sign_out_path
          - else
            %li= link_to "Sign In", sign_in_path

    = render_flash_messages

    %section
      = yield

    %footer
      %p RbMU Flow

    = javascript_include_tag :defaults
    = yield :javascript
